h2 {
    color: purple;
    font-weight: bold;
    text-align: center;
}

table {
    width: 80vw;
    height: 80vh;
    margin: auto;
        td {
            color: darkblue;
            text-align: center;
            font-weight: 600;
        }
}

.col-50 {
    width: 50%;
}