section {
    margin-top: 20px;
    .body-header {
        margin: 50px auto;
        p {
            color: darkblue;
            text-align: center;
            font-weight: 500;
        }
    }
}

footer {
    width: 100%;
        p {
            color: darkblue;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            margin-top: 20px;
        }
}